<form class="form" action="#" method="post">
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="" required>
  </label>
  
  <label for="author" class="form-item">
    Author:
    <input type="text" name="author" value="" required>
  </label>
  
  <fieldset>
  <label for="ingredient" class="form-item">
    Ingredients:
    <div id="ingredient-input">
    <input type="text" name="ingredient[]" value="" required>
    </div>
    <button type="button" id="add-ingredient">Add ingredient</button>
  </label>
  </fieldset>
  
  <label for="instructions" class="form-item">
    Instructions:
    <input type="text" name="instructions" value="" required>
  </label>

<label for="image">
  Please choose an image:
  <input type="file" name="image" accept="image/png, image/jpeg">
</label>

  <input type="submit" name="" value="Submit">
</form>