{{>returnHome}}
<form class="form" action="/add-recipe" method="post" id="recipeForm">
  <label for="name" class="form-item">
    Recipe:
    <input type="text" name="name" value="">
  </label>
  
  <label for="author" class="form-item">
    Author:
    <input type="text" name="author" value="">
  </label>

  <fieldset>
    <legend>Ingredients:</legend>
    <div id="ingredient-amount" class="ingredient-inputs">
      <label for="ingredient1" class="form-item">
        Ingredient 1:
        <input type="text" name="ingredients[0].ingredient" value="" required>
        Amount:
        <input type="text" name="ingredients[0].amount" value="" required>
      </label>
    </div>
    <button type="button" id="add-ingredient">Add Ingredient</button>
  </fieldset>
  {{!-- <fieldset>
    <div id="ingredient-amount">
    <div id="ingredients">
      <label for="ingredient" class="form-item">
        Ingredient(s):
        <div id="ingredient-input">
          <input type="text" name="ingredients[0].ingredient" value="">
        </div>
      </label>
    </div>

    <div id="amount">
      <label for="amount" class="form-item"> 
        Amount:
        <div id=amount-input>
          <input type="text" name="ingredients[0].amount" value="">
        </div>
      </label>
    </div>
  </div>

  </fieldset>
  <button id="add-ingredient" type="button">Add ingredient</button> --}}

  <label for="instructions" class="form-item">
    Instructions:
    <input type="text" name="instructions" value="">
  </label>

<label for="image">
  Please enter a URL to an image:
  <input type="type" name="image">
</label>

  <input type="submit" value="Submit">
</form>
<script src="form.js">
</script>
