{{>returnHome}}
<form class="form" action="/add-recipe" method="post" id="recipeForm">
  <label for="name" class="form-item">
    Recipe:
    <input type="text" name="name" value="">
  </label>
  
  <label for="author" class="form-item">
    Author:
    <input type="text" name="author" value="">
  </label>

  <fieldset>
    <legend>Ingredients:</legend>
    <div id="ingredient-amount" class="ingredient-inputs">
      <label for="ingredient1" class="form-item">
        Ingredient 1:
        <input type="text" name="ingredients[0].ingredient" value="" required>
        Amount:
        <input type="text" name="ingredients[0].amount" value="" required>
      </label>
    </div>
    <button type="button" id="add-ingredient">Add Ingredient</button>
  </fieldset>

<fieldset>
  <legend>Instructions:</legend>
  <div id="instruct" class="instructions-form">
    <label for="instruction1" class="form-item">
      Step 1:
      <input type="text" name="instructions[0]" value="">
    </label>
  </div>
  <button type="button" id="add-instruction">Add Instruction</button>
</fieldset>


<label for="image">
  Please enter a URL to an image:
  <input type="type" name="image">
</label>

  <input type="submit" value="Submit">
</form>
<script src="form.js">
</script>
