<div class="container">
  {{#each recipes}}
  <div class="puppy-list">
    <a href="/puppies/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
    <h2>{{name}}</h2>
  </div>
  {{/each}}
</div>
