<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hells Kitchen</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Borel&family=Lato&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    {{!-- <link rel="icon" href="data:,"> --}}
  </head>
  <body>
    <div class="app">
      <h1 class="title">Hells Kitchen</h1>
      {{{body}}}
    </div>
    <script src="../../form.js"></script>
  </body>
</html>
